<div class="contact">
  <div class="align-items-center d-flex row-cols-2">
    <h2>Contact</h2>
    <a id="cv-download" class="download-icon download-icon text-end" href="/Resume-Mobina-Salavati.pdf" target="_blank">
      {% include svg/download-circled-outline.svg %}
    </a>
  </div>
  <ul>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Lonodn, UK</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+44 737 9337 345</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    <li><span class="li-icon">{% include svg/linkedin.svg %}</span><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></li>
  </ul>
</div>
