<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mobina Salavati's Personal Website">
    <meta name="keywords" content="Mobina Salavati, Engineering Science, Portfolio">
    <meta name="author" content="Mobina Salavati">
    <meta name="robots" content="index, follow">
    
    <!-- Advanced SEO Tags -->
    <meta name="canonical" href="{{ site.url }}">
    <meta name="og:title" content="Mobina Salavati - Engineering Science">
    <meta name="og:description" content="Explore Mobina Salavati's portfolio.">
    <meta name="og:image" content="{{ site.url }}/assets/jpg/mobina.jpg">
    <meta name="og:url" content="{{ site.url }}">
    <meta name="og:site_name" content="Mobina Salavati's Personal Website">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="Home">
    <meta property="og:locale" content="en_US">

  <title>Mobina Salavati</title>

  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/open-color.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/styles.min.css' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | relative_url }}">

  <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","author":{"@type":"Person","name":"Mobina Salavati"},"description":"Welcome to my portfolio website","headline":"Home","name":"Mobina Salavati","url":"{{ site.url }}"}
  </script>
 
</head>
